.flex{
	display: flex;
}
.flex-1{
	flex:1;
}
.items-center{
	align-items: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content:center;
}

.bt{
	padding: 0.6rem 2.5rem;
	font-size: 1rem;
	font-weight: 550;
	border:2px solid transparent;
	outline:none;
	cursor: pointer;
	text-transform: uppercase;
	transition:all .3s ease;
	-webkit--transition: all .3s ease;
	-moz--transition: all .3s ease;
	-ms--transition: all .3s ease;
	-o---transition: all .3s ease;
}
.btn{
	background: var(--primary);
	color: var(--secondary);
}
.btn:hover{
	background:transparent;
	border-color: var(--primary);
	color: var(--primary);
}
.btns{
	background:transparent;	
	border-color: var(--primary);
	color: var(--primary);
}

.btns:hover{
	background: var(--primary);
	color: var(--secondary);
}

